/*impostazione generale*/
html, body 
{
    width: 100%;
}

/*SEZIONE MENU*/
#menu 
{
    height: auto;
    width: 25em;
    text-align: center;
    margin: auto;
    border-bottom: solid var(--bordercolor);
    border-radius: 1em;
}

#menu ul 
{
    display:block;
}

#menu li 
{
    display: block;
    padding-top: 0em;
    padding-bottom: 0em;
    border-right: none;
    border-bottom: solid var(--bordercolor);
}

#menu a
{
    display: block;
}

#menu #currentLink,#menu #currentLink_last
{
    padding-top: 1em;
    padding-bottom: 1em;
    background-size: 2em;
    background: url('../images/heart-69-16.ico') 8% center no-repeat,url('../images/heart-69-16.ico') 92% center no-repeat;
    background-color: var(--bread_footer_color);
    border-right: none;
    border-bottom: solid var(--bordercolor);
}

#menu #Profilo,#menu #currentLink_last
{
    border-bottom: none;
}


/*
==============
SEZIONE BREADCRUMB
==============
*/
#breadcrumb
{
    display: none;
}

/*eventualment ingrandire un po il tutto*/

#presentazione
{
    width: 90%;
    margin: auto;
}

#avvertimento
{
    width: 90%;
    margin: auto;
    margin-top: 0.5em;
}

main dl
{
    width: 90%;
}

#Recapiti
{
    display: block;
}

#Recapiti li
{
    display: block;
    margin: auto;
    margin-top: 0.5em;
    width: 60%;
}


#Social img
{
    height: 5.5em;
    width: 5.5em;
}

form
{
    width: 70%;
}

form button
{
    padding: 2em;
}

.paragrafo-dispari, .paragrafo-pari
{
    background-size: 30% 60%;
}

#admin_form{
    display: block;
    margin: auto;
  }
  
  #admin_form form{
    margin: auto;
    margin-bottom: 0.8em;
  }
