*
{
    padding: 0em;
    margin: 0em;
}

html,body
{
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
    margin: auto;
}

header
{
    text-align: center;
    padding: 1em 0em 1em 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#breadcrumb
{
    display: none;
}

#menu
{
    display: none;
}

main
{
    text-align: justify;
    width: auto;
    padding: 1.75em;
}

.aiuti
{
    display: none;
}

footer
{
    display: none;
}

form
{
    display: none;
}