*
{
    padding: 0em;
    margin: 0em;
}

html,body
{
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
    margin: auto;
}

header
{
    text-align: center;
    padding: 1em 0em 1em 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#breadcrumb
{
    display: none;
}

#menu
{
    display: none;
}

main
{
    text-align: justify;
    width: auto;
    padding: 1.75em;
}

.aiuti
{
    display: none;
}

.icona
{
    display: none;
}

#Recapiti img
{
    display: none;
}

#contatti p
{
    display: none;
}

#Social
{
    display: none;
}

img
{
    width: 80px;
    height: 80px;
}

footer
{
    display: none;
}


#Form-contatti
{
    display: none;
}

#status
{
    display: none;
}

.button
{
    display: none;
}

.copertina
{
    display: flex;
    flex-direction: column;
}

#back, #link_placeholder
{
    display: none;
}


.card
{
  margin: 0.6em 0.3em 0 0.3em;
  font-size: 0.7em;
  list-style: none;
  margin-bottom: 0.5em;
}

.card li
{
  display: inline-block;
  width: 22%;
}

.card .copertina
{
  padding: 0.5em 0.2em;
  width: 90%;
}

.card .copertina span img
{
  width: 100%;
  height: 100%;
}

.card label
{
  margin-bottom: 0em;
  font-size: 0.8em
}

.card span
{
  margin-bottom: 0.5em;
}

.card .nome1
{
  margin: 0.5em;
  border-radius: 1em;
}

.card .nome1 dd,.card .nome1 dt
{
  text-align: center;
}

.card .nome1 dd
{
  margin-bottom: 0.5em;
  padding: 0.5em;
  text-align: center;
  display: block;
}

.card .nome1 img
{
  width: 90%;
  height: 90%;
  margin: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  display: block;
}

.card p
{
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.card p>a
{
  padding: 1em;
  border-radius: 1em;
  font-size: 1em;
}