/*
======================
reset impostazioni browser
======================
*/
* 
{
	padding: 0;
	margin: 0;
}
/*
======================
dichiarazione variabili di colore
======================
*/
/*#9C0015*/
/*#454953*/
:root
{
	--bgcolor: #FFF;
  --menucolor: #9B0014;
  --txtcolor: #000;
  --linkcolor: #FFF;
  --visitedcolor: #454953;
  --bread_footer_color: #454953;
  --hovercolor: #777;
  --footer_txt_color: #FFF;
}
/*
======================
impostazione generale
======================
*/
html, body 
{
  font-family: Arial, sans-serif;
  margin: auto;
  font-size: 100%;
  max-width: 800px;
}

/*
==============
SEZIONE HEADER
==============
*/
header 
{
  color: var(--txtcolor);
  text-align: center;
  padding-top: 0.7em;
  margin: auto;
}

header h1 
{
  background-image: url('../images/logo_senza_sfondo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  line-height: 1.5em;
  font-size: 6em;
}

/*
==============
SEZIONE MENU
==============
*/
#menu 
{
  border-style: solid;
  border-color: #000;
  border-bottom: none;
  height: 3em;
  overflow: hidden;
  text-align: left;
  background-color: var(--menucolor);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#menu ul 
{
  display: flex;
  list-style-type: none;
}

#menu li 
{
  padding-top: 1em;
  padding-bottom: 1em;
  display: inline;
}

#menu a 
{
  color: var(--linkcolor);
  padding: 1.1em;
  background-color: var(--menucolor);
  text-decoration: none;
}

#menu a:hover 
{
  color: var(--txtcolor);
  background-color: var(--hovercolor);
}

#currentLink
{
  background: url('../images/heart-69-16.ico') 8% center no-repeat;
  background-size: 1em;
  background-color: var(--bread_footer_color);
  color: var(--linkcolor);
  padding-left: 1.6em;
  padding-right: 1em;
}

#Log_in>a
{
  
}

/*
==============
SEZIONE BREADCRUMB
==============
*/
#breadcrumb
{
  border-style: solid;
  border-color: #000;
  text-align: left;
  background-color: var(--bread_footer_color);
  color: var(--linkcolor);
  padding: 0.5em 1em 0.5em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#breadcrumb a:link{
  color: var(--linkcolor);
}

#breadcrumb a:visited{
  color: var(--linkcolor); /*dovrei cambiarlo?*/
}

/*
==============
SEZIONE CONTENUTO
==============
*/
main 
{
  margin: auto;
  padding: 1em;
}

#presentazione
{
  background-color: rgb(172, 172, 172);
  padding: 0.5em;
  margin-bottom: 0.3em;
  border-style: solid;
  border-radius: 1em;
}

#avvertimento
{
  background-color: var(--menucolor);
  color: var(--footer_txt_color);
  margin-bottom: 0.3em;
  padding: 0.5em;
  border-style: solid;
  border-radius: 1em;
  border-color: #000;
}

main h2 
{
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}
main h3
{
  text-align: left;
  padding: 0.5em;
}

main dl
{
  padding: 0.5em 2em;
}

main dt
{
  color: var(--menucolor);
  border-style: solid;
  border-bottom: none;
  border-radius: 1em 1em 0em 0em;
  border-color: var(--menucolor);
  padding: 0.5em;
  padding-bottom: 0.2em;
}
main dd
{
  border-style: solid;
  border-top: none;
  border-radius: 0em 0em 1em 1em;
  border-color: var(--menucolor);
  padding: 0.5em;
  padding-top: 0.2em;
  margin-bottom: 1em;
}

/*
==============
SEZIONE AIUTI
==============
*/
.aiuti
{
  display: block;
  text-indent: -9999em;
  height: 1px;
  width: 1px;
}

/*
==============
SEZIONE FOOTER
==============
*/
footer 
{
  background-color: var(--bread_footer_color);
  color: var(--footer_txt_color);
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: solid;
  border-color: black;
}

footer p
{
  display: inline;
  font-style: italic;
  font-size: 0.8em;
}

footer img
{
  margin: 0em 0em;
  size: 1em;
}
.card{
  width: calc(30% - 0.6em);
  margin: 0.6em 0.3em 0 0.3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--colore-dettagli-card);
  font-size: 1.1em;
  border:1px solid var(--colore-bordo-card);
  display: flex;
  flex-direction: column;
}

.card dt:not(.posizione){
  height: 70%;
  margin-bottom: 0.2em;
  overflow: hidden;
}

.card input[type=image] {
  width: 100%;
}