/*
======================
reset impostazioni browser
======================
*/
* 
{
	padding: 0;
	margin: 0;
}
/*
======================
dichiarazione variabili di colore
======================
*/
/*ricontrollare la questione contrasti e link visitati e non*/
:root
{
  --bgcolor1: #454953;
  --bgcolor2: #D14600;
  --body_bgcolor: #373f51f5;
  --form_bgcolor: #FFF;
  --menucolor: #D14600;
  --warningcolor: #D14600;
  --activity_titlecolor: #FFF;
  --activity_bordercolor: #D14600;
  --formcolor: #D14600;
  --txtcolor: #FFF;
  --txtcolor_onwhitebg: #000;
  --linkcolor: #000;
  --linkcoloralt: #D14600;
  --visited_linkcolor: #FFF;
  --linkesterni: #FFFF6B;
  --bread_footer_color: #454953;
  --hover_menucolor: #969696;
  --hover_linkcolor: black;
  --bordercolor: black;
  --error_color: #bcd914;
  --success_color: green;
}
/*
======================
impostazione generale
======================
*/
html, body 
{
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 800px;
  font-size: 1em;
}

html
{
  background-image: url(../images/free-cat-and-dog-pattern-vector.png);
}

body
{
  background-color: var(--body_bgcolor);
}
/*
==============
SEZIONE HEADER
==============
*/
header h1 
{
  background-image: url('../images/logo_senza_sfondo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
  line-height: 2em;
  font-size: 6em;
  color: var(--txtcolor);
}

/*
==============
SEZIONE MENU
==============
*/
#menu 
{
  border-style: solid;
  border-color: var(--bordercolor);
  border-bottom: none;
  height: 3em;
  overflow: hidden;
  text-align: left;
  background-color: var(--menucolor);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#menu ul 
{
  display: flex;
  list-style-type: none;
}

#menu li 
{
  padding-top: 1em;
  padding-bottom: 1em;
  display: inline;
  border-right: solid var(--bordercolor);
}

#menu a 
{
  color: var(--linkcolor);
  padding: 1.1em;
  text-decoration: none;
}

#menu a:visited
{
  color: var(--visited_linkcolor);
}

#menu a:hover
{
  color: var(--hover_linkcolor);
  background-color: var(--hover_menucolor);
  text-decoration: underline;
}

#currentLink
{
  background: url('../images/heart-69-16.ico') 8% center no-repeat;
  background-size: 1em;
  background-color: var(--bread_footer_color);
  color: var(--txtcolor);
  padding-left: 1.6em;
  padding-right: 1em;
  border-right: solid var(--bordercolor);
}

#currentLink_last
{
  background: url('../images/heart-69-16.ico') 8% center no-repeat;
  background-size: 1em;
  background-color: var(--bread_footer_color);
  color: var(--txtcolor);
  padding-left: 1.6em;
  padding-right: 1em;
  border-right: solid var(--bordercolor);
}


/*
==============
SEZIONE BREADCRUMB
==============
*/
#breadcrumb
{
  border-style: solid;
  border-color: var(--bordercolor);
  text-align: left;
  background-color: var(--bread_footer_color);
  color: var(--txtcolor);
  padding: 0.5em 1em 0.5em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#breadcrumb a
{
  color: var(--visited_linkcolor);
}

/*
==============
SEZIONE CONTENUTO
==============
*/
main 
{
  margin: auto;
  padding: 1em;
}

#presentazione
{
  background-color: var(--bgcolor1);
  color: var(--txtcolor);
  padding: 0.5em;
  margin-bottom: 0.3em;
  border-style: solid;
  border-radius: 1em;
  border-color: var(--bordercolor);
}

#avvertimento
{
  background-color: var(--bgcolor2);
  color: var(--txtcolor);
  margin-bottom: 0.3em;
  padding: 0.5em;
  border-style: solid;
  border-radius: 1em;
  border-color: var(--bordercolor);
}

main h2 
{
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
  color: var(--txtcolor);
}

main h3
{
  text-align: center;
  padding: 0.5em;
  color: var(--txtcolor);
}

main dl
{
  width: 70%;
  margin: auto;
}

main dt
{
  color: var(--activity_titlecolor);
  text-align: center;
  border-style: solid;
  border-width: 0.3em;
  border-bottom: none;
  border-radius: 1em 1em 0em 0em;
  border-color: var(--activity_bordercolor);
  padding: 0.5em;
  padding-bottom: 0.2em;
  background-color: var(--bgcolor1);
  font-weight: bold;
}

main dd
{
  border-style: solid;
  border-top: none;
  border-width: 0.3em;
  border-radius: 0em 0em 1em 1em;
  border-color: var(--activity_bordercolor);
  margin-bottom: 1em;
  background-color: var(--bgcolor1);
  color: var(--txtcolor);
  display: flex;
}

main dd>p
{
  margin-left: 0.5em;
  padding: 1em;
}

.icona
{
  margin-left: 0.5em;
  width: 6em;
  height: 6em;
  align-self: center;
  
}

#Recapiti
{
  display: flex;
  list-style: none;
  justify-content:space-evenly;
  margin-bottom: 1.25em;
}

#Recapiti li
{
  padding: 1.5em;
  padding-bottom: 0.5em;
  margin: 0.5em;
  width: 33%;
  background-color: var(--menucolor);
  border: solid var(--bordercolor);
  border-radius: 2em;
  text-align: center;
  padding-bottom: 1em;
}

#Recapiti a
{
  color: var(--linkesterni);
}

#Recapiti img
{
  width: 4em;
  height: 4em;
  margin: auto;
  margin-bottom: 1em;
  display: block;
}

#Social
{
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-bottom: 0.8em
}

#Social img
{
  width: 5em;
  height: 5em;
  background-color: var(--txtcolor);
  border-radius: 5em;
}

#Social a:hover
{
  opacity: 0.4;
}

#contatti p
{
  margin-bottom: 1.5em;
  text-align: center;
  color: var(--txtcolor);
}

#contatti h3
{
  text-align: center;
  color: var(--txtcolor);
}

.paragrafo-dispari
{
  background-color: var(--bgcolor1);
  color: var(--txtcolor);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30% 100%;
  background-clip: padding-box;
  padding: 2em;
  padding-left: 31%;
  border-radius: 7em;
  border: solid var(--activity_bordercolor);
  margin-bottom: 1em;
}

.paragrafo-pari
{
  background-color: var(--bgcolor1);
  color: var(--txtcolor);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30% 100%;
  background-clip: padding-box;
  padding: 2em;
  padding-right: 31%;
  border-radius: 7em;
  border: solid var(--activity_bordercolor);
  margin-bottom: 1em;
}


#intro
{
  background-image: url(../images/Team-7-1671797716186-638x425.jpg);
}

#adozione
{
  background-image: url(../images/cane-canile-600x399.jpg.webp);
  
}

#post-adozione
{
  background-image: url(../images/shutterstock_242940202-2.jpg);
}

#ringraziamenti
{
  background-image: url(../images/gattino-con-pelo-a-forma-di-cuore-e1446037850649.jpg);
}

.no_menu
{
  text-align: center;
  color: var(--txtcolor);
} 

.no_menu h2
{
  font-size: 3em;
}

.no_menu img
{
  width: 80%;
}


.no_menu p>a:link
{
  color: var(--linkcoloralt);
  padding: 0.5em;
  background-color: var(--bgcolor1);
  border: solid var(--bordercolor);
  border-radius: 8em;
}

.no_menu p>a:visited
{
  color: var(--visited_linkcolor);
  border: var(--bordercolor);
}

.no_menu p
{
  font-size: 1.5em;
  padding-bottom: 1em;
  color: var(--txtcolor);
}

#Log_in p
{
  color: var(--txtcolor);
}

#Log_in p>a
{
  color: var(--linkcoloralt);
  padding: 0.5em;
  background-color: var(--bgcolor1);
  border: solid var(--bordercolor);
  border-radius: 8em;
  line-height: 3em;
}

#Log_in p>a:visited
{
  color: var(--visited_linkcolor);
}

#back
{
  color: var(--linkcoloralt);
  padding: 0.5em;
  background-color: var(--bgcolor1);
  border: solid var(--bordercolor);
  border-radius: 8em;
}

#back:visited
{
  color: var(--visited_linkcolor);
}
/*
==============
SEZIONE AIUTI
==============
*/
.aiuti
{
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
}

/*
==============
SEZIONE FOOTER
==============
*/
footer 
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1em 1em 0em 0em;
  background-color: var(--bread_footer_color);
  color: var(--txtcolor);
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.01em;
  border-style: solid;
  border-color: var(--bordercolor);
}

footer p
{
  font-style: italic;
  font-size: 0.8em;
}

/*
==============
SEZIONE FORM
==============
*/
form 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 1.5em;
  border: solid var(--bordercolor);
  border-radius: 1em;
  background-color: var(--formcolor);
  color: var(--txtcolor);
}

form label 
{
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

form input, form textarea ,form select
{
  width: 100%;
  padding: 0.75em 1.25em;
  margin-bottom: 1.25em;
  border: solid var(--bordercolor);
  border-radius: 1em;
  box-sizing: border-box;
  font-size: 1em;
  background-color: var(--form_bgcolor);
  color: var(--txtcolor_onwhitebg);
}

form textarea 
{
  height: 12.5em;
  resize: vertical;
}

form p
{
  margin-top: 1em;
  padding: 2em;
  text-align: center;
  background-color: var(--bgcolor1);
  border: solid var(--bordercolor);
  border-radius: 1em;
  line-height: 2em;
}

form p>a
{
  color: var(--linkcolor);
  padding: 0.5em;
  background-color: var(--bgcolor2);
  border: solid var(--bordercolor);
  border-radius: 8em;
}

form p>a:visited
{
  color: var(--visited_linkcolor);
}


.error
{
  color: var(--error_color);
  margin-bottom: 0.5em;
}

.success
{
  color: var(--success_color);
  margin-bottom: 0.5em;
}


.button 
{
  background-color: var(--form_bgcolor);
  color: var(--bgcolor2);
  width: 60%;
  padding: 0.5em;
  border: solid var(--bordercolor);
  border-radius: 1em;
  cursor: pointer;
  font-size: 1.8em;
  margin-bottom: 0em;
}

.button:hover 
{
  opacity: 0.8;
}

#admin_form{
  display: flex;
  list-style: none;
  justify-content:space-evenly;
  margin-bottom: 1.25em;
}

#admin_form form{
  margin: 0.8em;
}

/*
==============
SEZIONE CARD
==============
*/

.card{
  width: calc(30% - 0.6em);
  margin: 0.6em 0.3em 0 0.3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--colore-dettagli-card);
  font-size: 1.1em;
  border:1px solid var(--colore-bordo-card);
  display: flex;
  flex-direction: column;
}

.card dt:not(.posizione){
  height: 70%;
  margin-bottom: 0.2em;
  overflow: hidden;
}

.card input[type=image] {
  width: 100%;
}

table
{
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  border: solid var(--bordercolor);
  margin-bottom: 2em;
}

caption
{
  text-align: center;
  color: var(--txtcolor);
  font-weight: bold;
  padding: 0.8em;
}

th, td
{
  padding: 0.8em;
  color: var();
  text-align: center;
}

th
{
  background-color: var(--bgcolor2);
  color: var(--txtcolor);
}

tr:nth-child(even)
{
  background-color: var(--hover_menucolor);
  color: var(--txtcolor_onwhitebg);
}
tr:nth-child(odd)
{
  background-color: var(--bread_footer_color);
  color: var(--txtcolor);
}
